body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

*::selection {
    color: #fff;
    background: #000;
}

*::-moz-selection {
    color: #fff;
    background: #000;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

div.form input, div.form textarea, div.form select {
    margin: 0.2em 0 0.5em 0;
}

div.form .row {
    margin: 5px 0;
}

div.form div.error input, div.form div.error textarea, div.form div.error select, div.form input.error, div.form textarea.error, div.form select.error {
    background: #FEE;
    border-color: #C00;
}

div.form .errorMessage {
    color: red;
    font-size: 0.9em;
}

.rememberMe td {
    border: 0 !important;
}

#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}

#header {
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo {
    padding: 10px 20px;
    font-size: 200%;
}

#logo sub {
    padding: 10px;
    font-size: 50%;
}

#logoinmenu {
    color: #000;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    width: 55px;
    float: left;
}

#mainmenu {
    background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
    padding: 6px 20px 5px 20px;
    margin: 0;
    position: relative;
    height: 15px;
    list-style: none;
}

#mainmenu ul li {
    display: block;
    float: left;
    overflow: visible;
}

.menuprofile {
    position: absolute;
    right: 0;
}

#mainmenu ul li.menuprofile:hover > ul {
    display: block;
}

.menuprofile ul {
    display: none;
    background: white url(bg.gif) repeat left top;
    color: #fff;
    clear: both;
}

.menuprofile ul li a {
    display: block;
}

#mainmenu ul li a {
    color: #ffffff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #6399cd;
    background-color: #EFF4FA;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet {

}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #EFFDFF;
}

.portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portlet-content li {
    padding: 2px 0 4px 0px;
}

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;
}

#logo {
    background: url('/images/logo.png') no-repeat;
    width: 185px;
    margin: 0;
    margin-right: 10px;
}

.main {
    margin-top: 70px;
}

#myCarousel img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    min-height: 500px;
}

#myCarousel .item {
    background: none;
}

.glyphicon .glyphicon-chevron-right {
    border: 0;
}

.img-circle {
    width: 140px;
    height: 140px;
    border: 0;
}

#guest_login {
    background: 0;
    box-shadow: none;
    border: 0;
    text-align: center;
}

#guest_login input {
    background: 0;
    color: #000;
    border-color: #428bca;
    margin-bottom: 2px;
}

#guest_login input::-webkit-input-placeholder {color:#428bca;}
#guest_login input::-moz-placeholder          {color:#428bca;}/* Firefox 19+ */
#guest_login input:-moz-placeholder           {color:#428bca;}/* Firefox 18- */
#guest_login input:-ms-input-placeholder      {color:#428bca;}

.social {
    padding: 0;
    list-style: none;
    font-size: 1.3em;
    margin-right: 15px;
}

.social li {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 6px;
}

.social li a:hover {
    text-decoration: none;
}

.social li a i {
    color: #747574;
    border: 1px solid #747574;
    padding: 4px 0;
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.social li a i:hover {
    color: #fff;
    background: #747574;
}

#loginModal .modal-dialog {
    width: 400px;
}

#loginModal iframe {
    height: 295px;
    width:  370px;
}

#contact {
    padding-left: 12px;
    padding-right: 12px;
}

#language {
    min-width: 94px;
    border-color: #222;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

#language a {
    color: #777;
}

#language a:hover {
    color: #222;
}

.table-scroll {
    overflow-x: auto;
}